web/WEB-INF/wsdl/localhost_52115/ServicioReniec/WSConsultaReniec.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="Datos_Persona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Datos_PersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Datos_PersonaResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Datos_PersonaSoapIn">
    <wsdl:part name="parameters" element="tns:Datos_Persona" />
  </wsdl:message>
  <wsdl:message name="Datos_PersonaSoapOut">
    <wsdl:part name="parameters" element="tns:Datos_PersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="WSConsultaReniecSoap">
    <wsdl:operation name="Datos_Persona">
      <wsdl:input message="tns:Datos_PersonaSoapIn" />
      <wsdl:output message="tns:Datos_PersonaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSConsultaReniecSoap" type="tns:WSConsultaReniecSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Datos_Persona">
      <soap:operation soapAction="http://localhost/Datos_Persona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSConsultaReniecSoap12" type="tns:WSConsultaReniecSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Datos_Persona">
      <soap12:operation soapAction="http://localhost/Datos_Persona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSConsultaReniec">
    <wsdl:port name="WSConsultaReniecSoap" binding="tns:WSConsultaReniecSoap">
      <soap:address location="http://localhost:52115/ServicioReniec/WSConsultaReniec.asmx" />
    </wsdl:port>
    <wsdl:port name="WSConsultaReniecSoap12" binding="tns:WSConsultaReniecSoap12">
      <soap12:address location="http://localhost:52115/ServicioReniec/WSConsultaReniec.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>